<!DOCTYPE html>
<html>
	<head>
		<title>
			Hello
		</title>
	</head>
	<body>
		<form>
        <lable type="firstname">Firstname

        </lable>
        <input type="text" name="fistname" id="firstname" placeholder="type your name">
        <br>
        <br>

        <lable type="text">email</lable>
        <input type="text" id="email"  placeholder="Type your email">
        <br>
        <br>

        <label type="Password"> Password</label>
        <input type="password" placeholder="Provide passcode">
        <br>
        <br>
        <lable>Gender</lable>
        <br>
        <input type="radio" name="male" value="Male" checked>Male
        <input type="radio" name="male" value="Female">Female
        <br>
        <br>
        <button type="submit">Submit</button>
       </form>

	</body>
</html>